#colorbar {
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: rgba(150, 150, 150, 0.7);
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    font-family: sans-serif, Arial;
}

#colorbar input {
    font-family: sans-serif, Arial;
    /* the width should be carefully adjusted */
    width: 40px;
    margin: 4px;
}

#colorbar-canvas {
    font-family: sans-serif, Arial;
    /* the width should be carefully adjusted */
    width: 165px;
    height: 15px;
    margin-top: 5px;
    border: 1px, solid, black;
    /* display: block; */
}

#colorbar-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 2px;
    /* font-family: 'Vazirmatn', sans-serif; */
    font-family: sans-serif, Arial;
    /* Set font,  sans-serif used firstly, otherwise Arial */
}

#colorbar-title {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif, Arial;
    font-weight: bold;
    padding: 3px;
}

